# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ElbBot.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

dotCover.Output
dotCover.Output.html

.idea/

.sonarqube/
logs/

.vs/

*.user
